@charset "UTF-8";

@import url('http://fonts.googleapis.com/css?family=Oswald');

.title{
	color: #07e;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	line-height: 22px;
	font: normal 21px/23px "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
	text-shadow: 1px 1px 0 white;
}
.title:hover{
    color: #E32;
    text-decoration: none !important;
}
a :hover{
    text-decoration: none !important;
}

.head-title{
    color: #E32;
    font-size: 100%;
    background: transparent;
    line-height: 22px;
    font: normal 21px/23px "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
}

.small-meta{
    color: #aaa;
    font-size: 10px;
}


.title-demo2{
    color: #222;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 90%;
    background: transparent;
    line-height: 22px;
    font: normal 19px/23px "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
    text-shadow: 1px 1px 0 white;
}
.title-demo2:hover{
    color: #E32;
    text-decoration: none !important;
}

.title-demo2-medium{
    color: #07e;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 90%;
    background: transparent;
    line-height: 22px;
    font: normal 19px/23px "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
    text-shadow: 1px 1px 0 white;
}

.title-demo2-medium:hover{
    text-decoration: none !important;
}

.menu{
    color: #FFFFFF !important;
    background-color: #F04723;
    padding: 0 13px;
    border-left: 1px solid #c2c2c2;
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
}
.menu:hover{
    color: #F04723 !important;
    background-color: #FEDD7A;
    padding: 0 13px;
    border-left: 1px solid #c2c2c2;
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
}

.logo{
    width: 240px;
    font-size: 70px;
    color: #0000FF;
    height: 50px;
}

.table-edit{
    width: 100%;
    margin-bottom: 20px;
}

.post-title{
    clear: left;
    color: #333333;
    font-family: "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 38px;
    margin: 10px 0;
    text-transform: none;
    letter-spacing: normal;
}

.description{
    font-size: 17px;
    line-height: 23px;
    color: #333;
    font-family: "ProximaNovaRegular",Helvetica, Arial, sans-serif;
    margin: 0px 0px 11px 0px;
}

.alert-success {
    background: url("../img/success.png") no-repeat scroll 10px 50% transparent;
    font-weight: bold;
    text-indent: 25px;
}

.alert-error {
    background: url("../img/error.png") no-repeat scroll 10px 50% transparent;
    font-weight: bold;
    text-indent: 25px;
}

.alert-warning {
    background: url("../img/wraning.ico") no-repeat scroll 5px 9px transparent;
    font-weight: bold;
    text-indent: 15px;
}

span.buzz_datetime{
    display: block;
    margin-top: 4px;
    font-family: Arial,Helvetica,sans-serif;
    text-transform: none;
    letter-spacing: -.02em;
    padding-left: 0px;
    font-weight: normal;
    font-size: 10px;
    color: #999;
}

.user-bg{
    margin: 2px 0px 20px 0px;
}
.c{
    clear: both;
    float: none;
}
.user-name{
    font-size: 14px;
    font-weight: bold;
}

.meta{
    overflow: hidden;
    font-family: Arial,Helvetica,sans-serif;
}

.user-info {
    border: none;
    margin: 0px 30px 5px 0px;
    padding-top: 0px;
    float: left;
}

.author_title {
    display: block;
    width: 160px;
    line-height: 12px;
}
.user-info .user-info-info {
    float: left;
}

.ago {
    display: none !important;
}

.social-links {
    float: left;
    margin-top: 8px;
}

div.fb-subscribe_btn {
    margin-right: 0;
    width: 190px;
    height: 20px;
}

.title-img-large{
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    background: #989898;
}
.title-img-large a{
    color: #ddd !important;
}

.title-img-large:hover{
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    background: #989898;
    /*opacity: 1.0;*/
    color: red;
    text-decoration: none;
}

.title-img-large:hover a:hover{
    color: #fff !important;
    text-decoration: none;
}


div.title-img{
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    background: #989898;
}

.title-img a{
    color: #ddd !important;
}

div.title-img:hover{
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    background: #989898;
}

.title-img:hover a:hover{
    color: #fff !important;
    text-decoration: none;
}

.splash-overlay{
    margin-bottom: 15px;
    margin-right: 10px;
}

.current{
    float: left;
    padding: 6px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
    background-color: #2E2EFE;
}

.img_url{
    /*color: #151515;*/
}

.img_url:hover{
    /*color: #FAFAFA;*/
    text-decoration: none;
}

.space_share{
    margin-top: 15px;
    margin-bottom: 15px;
}

#footer{
    background-color: #f2f2f2;
    color: #777;
    padding: 20px;
    height: 180px;
    margin-top: 20px;
}

.title-content{
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 25px !important;
}

.title-top{
    font-size: 30px;
    font-weight: bold;
}

body{
    /*background: #eee url("../img/main-back.png") repeat;*/
}

.container-fluid{
    background-color: #F5F5F5;
    box-shadow: 0 0 1px #000;
    width: 79%;
}

.footer{
    border-top: 1px solid #bdbdbd;
    padding-top: 10px;
}

.most-view-heading{
    font: 28px "ProximaNovaBold",arial,sans-serif;
    color: #ee3322;
    margin-bottom: 15px;
}

.clearfix{
    clear: both;
}

.navbar {
    margin-top: 5px;
    min-height: 40px;
}

.author {
    color: #ee4723;
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.alert-banner{
    width: 98%;
    padding: 2px;
    background: #FFF9F5;
    border: solid 2px #ee4723 !important;
    margin-top: 5px;
    position: relative;
    margin-left: 15px;
}

.logo {
    /*background: url(/img/logo.png) no-repeat;*/
    width: 232px;
    height: 67px;
    float: left;
    margin: 10px 0;
}

.search{
    background: #FFF url(/img/glass.png) no-repeat 96% 50% / 17px 17px !important;
    float: left;
    display: block;
    width: 379px;
    height: 34px;
    margin: 26px 5%;
}

.dropdown-list:hover{
    text-decoration: none !important;
    background-color: #FEDD7A !important;
}

.pull-menu{
    padding: 0 13.9px !important;
}

.column2{
    background-color: #FFFFFF;
}

.white{
    color: white;
}

.yellow{
    color: yellow;
}

.signup-box {
    font-family: 'Oswald', sans-serif !important;
    height: 286px;
    background: #464646;
    text-align: center;
    min-height: 252px;
    padding: 8px;
    width: 100%;
    font-size: 1.4rem;
    font-family: "Myriad Pro", sans-serif;
}

.signup-box h2 {
    text-transform: uppercase;
    line-height: 110%;
    font-weight: 700;
    margin-bottom: 10px;
}

.signup-box .content {
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.signup-box .signup input {
    background-color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 10px;
    width: 261px;
    height: 40px;
    padding: 0 10px;
}

.signup button {
    background-color: #fedd7a;
    width: 143px;
    height: 40px;
}

.signup button:hover {
    color: #ee4723;
    /*background-color: #ee4723;*/
    width: 143px;
    height: 40px;
}

.subcribing{
    font-family: 'Oswald', sans-serif !important;
}

.error-message{
    color: #df1717;
}
.navbar-nav>li>a {
    color: white !important;
}

.navbar-nav>li>a:hover {
    color: #f04723 !important;
}